name: wrighs6-dotcom

services:
  caddy:
    image: caddy:alpine
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - caddy-config:/config
      - caddy-data:/data
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./static:/usr/share/caddy
    environment:
      - DOMAIN=${DOMAIN}
    depends_on:
      - cyberchef
  cyberchef:
    image: ghcr.io/gchq/cyberchef:latest

volumes:
  caddy-config:
  caddy-data:
